
logs
node_modules

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
